<div class="columns">
  <div class="column is-one-fifth">
    <aside class="menu">
      <p class="menu-label">General</p>
      <!-- =================================================================== -->
      <!-- Boards -->
      <!-- =================================================================== -->
      <ul class="menu-list">
        <li>
          <a routerLink="boards" routerLinkActive="is-active">Boards</a>
        </li>

        <!-- =================================================================== -->
        <!-- Templates -->
        <!-- =================================================================== -->
        <li>
          <a routerLink="templates" routerLinkActive="is-active"> Templates </a>
        </li>
      </ul>
    </aside>
  </div>

  <div class="column">
    <router-outlet></router-outlet>
  </div>
</div>
