*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-height: fit-content;
  /* max-width: fit-content; */
  padding: 0;
  margin: 0;
}

body {
  position: initial;
  background-color: #fafafa;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* width: fit-content; */
}

.app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.active-link {
  background: rgba(103, 58, 183, 0.15);
  color: #673ab7;
}

.spacer {
  flex: 1 1 auto;
}

.vl {
  border-left: 1px solid #d9d9d9;
  height: inherit;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mat-divider {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.hidden {
  display: none !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: collapse !important;
}

.no-border {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.main-content {
  height: 100%;
}

.board-card {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.board-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* ========================================================================= */
/* Panel classes for the SnackbarComponent */
/* ========================================================================= */
.success {
  color: #000;
  background-color: #00c853;
}

.warn {
  color: #000;
  background-color: #ffd600;
}

.danger {
  color: #fff;
  background-color: #d50000;
}

.info {
  color: #000;
  background-color: #0091ea;
}

/* ========================================================================== */
/* Flex layout */
/* ========================================================================== */
.flex-container {
  display: flex;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    flex-flow: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-centered-y {
  /* Cross axis -- assuming the flex-direction is set to row */
  align-items: center;
}

.flex-centered-x {
  /* Main axis -- assuming the flex-direction is set to row*/
  justify-content: center;
}

.align-at-top {
  align-items: flex-start;
}

.align-at-bottom {
  align-items: flex-end;
}

.align-at-baseline {
  align-items: baseline;
}

/* ========================================================================== */
/* Buttons */
/* ========================================================================== */

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.button-bar > button:not(:last-child),
a:not(:last-child) {
  margin-right: 0.5rem;
}

/* ========================================================================== */
/* Modal */
/* ========================================================================== */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 3px;
  width: fit-content;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ========================================================================== */
/* Form */
/* ========================================================================== */

.horizontal-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================================== */
/* Column widths */
/* ========================================================================== */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
