*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: inherit;
  width: inherit;
  overflow-x: auto;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.main-content {
  display: flex;
  margin-top: 32px;
  padding: 0 16px;
  height: 100%;
  flex: 1;
  /* max-width: 960px; */
  flex-direction: column;
  /* align-items: center; */
}

/* =========================================================================== */
/* Flex layout */
/* =========================================================================== */

.row {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-centered-y {
  align-items: center;
}

.flex-centered-x {
  justify-content: center;
}

.align-at-top {
  align-items: flex-start;
}

.align-at-bottom {
  align-items: flex-end;
}

.align-at-baseline {
  align-items: baseline;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
    flex-flow: column;
  }
}

/* =========================================================================== */
/* Buttons */
/* =========================================================================== */

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.button-bar > button:not(:last-child),
a:not(:last-child) {
  margin-right: 0.5rem;
}

/* =========================================================================== */
/* Modal */
/* =========================================================================== */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* =========================================================================== */
/* Form */
/* =========================================================================== */

.horizontal-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
