<ng-container *ngIf="list && item">
  <div class="item-details-container">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="modal-header">
        <span class="spacer"></span>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <!-- ================================================================= -->
      <!-- Title -->
      <!-- ================================================================= -->
      <div class="details-section">
        <div class="details-header">
          <mat-icon class="header-icon">title</mat-icon>
          <h3 class="no-margin">Title</h3>
        </div>

        <div
          matInput
          #titleFakeTextarea
          class="details-container title-fake-textarea"
          (click)="editTitle()"
        >
          <p>{{ title.value | titlecase }}</p>
        </div>
        <div #titleEditorContainer class="title-editor-container">
          <mat-form-field appearance="fill" class="full-width">
            <input #titleEditor matInput type="text" formControlName="title" />
          </mat-form-field>
          <div class="button-bar no-margin">
            <button type="submit" mat-raised-button color="primary">
              Save
            </button>
            <button mat-icon-button (click)="closeTitleEditor()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <!-- ================================================================= -->
      <!-- Description -->
      <!-- ================================================================= -->
      <div class="details-section">
        <div class="details-header">
          <mat-icon class="header-icon">article</mat-icon>
          <h3 class="no-margin">Description</h3>
        </div>

        <div
          #descriptionFakeTextarea
          class="details-container fake-textarea"
          (click)="editDescription()"
        >
          <ng-container
            *ngIf="item.description; else descriptionEditorTemplate"
          >
            <p
              class="description-line"
              *ngFor="let line of getItemDescriptionLines()"
            >
              {{ line }}
            </p>
          </ng-container>

          <ng-template #descriptionEditorTemplate>
            <div class="fake-textarea">
              <p>Add a more detailed description ...</p>
            </div>
          </ng-template>
        </div>

        <div #descriptionEditorContainer class="description-editor-container">
          <mat-form-field appearance="fill" class="full-width">
            <textarea
              #descriptionEditor
              matInput
              placeholder="Add a more detailed description ..."
              formControlName="description"
            ></textarea>
          </mat-form-field>

          <div class="button-bar no-margin">
            <button mat-raised-button color="primary" (click)="save()">
              Save
            </button>
            <button mat-icon-button (click)="closeDescriptionEditor()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <!-- ================================================================= -->
      <!-- Due Date -->
      <!-- ================================================================= -->
      <div class="details-section">
        <div class="details-header">
          <mat-icon class="header-icon">today</mat-icon>
          <h3 class="no-margin">Due Date</h3>
        </div>

        <ng-container *ngIf="item.dueDate">
          <div class="details-container">
            <p>{{ item.dueDate | date: "medium" }}</p>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</ng-container>
