.item-details-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.item-details-container > .column {
  margin-bottom: 2rem;
}

.modal-header {
  margin-bottom: 0.25rem;
}

.description-line {
  margin-bottom: 0.5rem;
}

.details-container {
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.details-header {
  display: flex;
  align-items: center;
}

.details-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-bottom: 1rem;
}

.header-icon {
  margin-right: 0.5rem;
}

.title-fake-textarea {
  display: block;
}

.title-fake-textarea:hover {
  cursor: text;
}

.fake-textarea {
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  border-radius: 3px;
  display: block;
  min-height: 40px;
  padding: 8px 12px;
  text-decoration: none;
}

.fake-textarea:hover {
  background: rgba(9, 30, 66, 0.08);
  cursor: pointer;
}

.hide {
  display: none;
}
