.item-details-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.item-details-container > .column {
  margin-bottom: 2rem;
}

.description-line {
  margin-bottom: 0.5rem;
}

.details-container {
  padding-left: 0.5rem;
}
