<ng-container *ngIf="list && item">
  <div class="item-details-container">
    <!-- ======================================================================= -->
    <!-- Title -->
    <!-- ======================================================================= -->
    <div class="modal-header">
      <div class="column">
        <h3>{{ item.title }}</h3>
        <a>In list {{ list.title }}</a>
      </div>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- ======================================================================= -->
    <!-- Due Date -->
    <!-- ======================================================================= -->
    <div class="column"></div>

    <!-- ======================================================================= -->
    <!-- Description -->
    <!-- ======================================================================= -->
    <div class="column"></div>
  </div>
</ng-container>
