.column {
  align-items: flex-start;
}

.items-column {
  max-width: 300px;
  min-height: 20px;
  margin: 0 4px;
  /* background-color: #f0f0f0; */
  border: 1px solid #f5f5f5;
  border-radius: 3px;
}

.items-column > .box {
  padding: 4px 8px;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  text-align: center;
}

.create-list-column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.card-footer-item:hover,
.card-footer-item:focus {
  background-color: #fafafa;
}

.badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.badge {
  /* margin: auto 8px; */
  margin-right: 16px;
}
