<div *ngIf="board$ | async as board" class="hero">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="container">
          <p class="heading">Board Name</p>
          <p class="is-centered">{{ board.title }}</p>
        </div>
      </div>
      <div class="level-item">
        <div class="container">
          <p class="heading">No. of Lists</p>
          <p class="is-centered">{{ board.lists?.length }}</p>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div *ngIf="lists" class="columns">
    <div
      *ngFor="let list of lists; index as i"
      class="column items-column mb-4"
    >
      <p class="title list-title">{{ list.title }}</p>
      <hr />
      <!--  ==================================================================== -->
      <!-- Items -->
      <!--  ==================================================================== -->
      <div *ngFor="let item of list.items" class="card mb-2">
        <!-- Card header -->
        <header class="level card-header mb-1">
          <p class="level-left card-header-title">{{ item.title }}</p>
        </header>

        <!--  Card content -->
        <ng-container *ngIf="item.description || item.dueDate">
          <!-- TODO: Add a click event that displays the item's details. -->
          <div class="card-content p-2 is-clickable">
            <div class="level">
              <ng-container *ngIf="item.dueDate">
                <div class="level-item" title="This item has a due date">
                  <fa-icon [icon]="faClock"></fa-icon>
                  <span>{{ item.dueDate | date: "shortDate" }}</span>
                </div>
              </ng-container>

              <ng-container *ngIf="item.description">
                <div class="level-item" title="This item has a description">
                  <fa-icon [icon]="faAlignJustify"></fa-icon>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <!-- Card footer -->
        <!-- <footer class="card-footer">
          <span class="card-footer-item has-text-dark is-clickable">View</span>
          <span
            class="card-footer-item has-text-dark is-clickable"
            (click)="editItem(item)"
            >Edit</span
          >
          <span class="card-footer-item has-text-dark is-clickable"
            >Delete</span
          >
        </footer> -->
      </div>

      <!--  ==================================================================== -->
      <!-- Add an Item to a List -->
      <!--  ==================================================================== -->
      <div id="button{{ i }}" class="mt-2">
        <button class="button" (click)="toggleItemComponent(list, i)">
          Add another item
        </button>
      </div>

      <div id="{{ i }}" class="is-hidden">
        <app-create-item
          (newItemEvent)="addItem($event)"
          (toggleVisibilityEvent)="toggleItemComponent(list, i)"
        ></app-create-item>
      </div>

      <!-- ======================================================================= -->
      <!-- EditItem Modal -->
      <!-- ======================================================================= -->
      <div id="editItemModal" class="modal">
        <div class="modal-content">
          <app-edit-item
            (editItemEvent)="addItem($event)"
            (closeModalEvent)="closeModal()"
          >
          </app-edit-item>
        </div>
      </div>
    </div>

    <!--  ==================================================================== -->
    <!-- Add a List -->
    <!--  ==================================================================== -->
    <div class="column create-list-column my-0">
      <button id="createListBtn" class="button" (click)="toggleListComponent()">
        Create another list
      </button>
      <div class="box mt-0" id="newListFormBox" class="is-hidden">
        <app-create-list
          (newListEvent)="addList($event)"
          (toggleVisibilityEvent)="toggleListComponent()"
        >
        </app-create-list>
      </div>
    </div>
  </div>
</div>
