<div *ngIf="board$ | async as board" class="hero">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="container">
          <p class="heading">Board Name</p>
          <p class="is-centered">{{ board.title }}</p>
        </div>
      </div>
      <div class="level-item">
        <div class="container">
          <p class="heading">No. of Lists</p>
          <p class="is-centered">{{ board.lists?.length }}</p>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div *ngIf="lists" class="columns">
    <div
      *ngFor="let list of lists; index as i"
      class="column card items-column mb-4"
    >
      <p class="title list-title">{{ list.title }}</p>

      <!--  ==================================================================== -->
      <!-- Items -->
      <!--  ==================================================================== -->
      <div *ngFor="let item of list.items" class="card mb-2">
        <!-- Card header -->
        <header class="level card-header">
          <p class="level-left card-header-title">{{ item.title }}</p>
          <button
            class="button button-icon"
            title="edit"
            (click)="editItem(item)"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </header>
        <!--  Card content -->
        <div class="card-content">
          <p class="heading">Description</p>
          <p>{{ item.description }}</p>

          <p class="heading mt-4">Due Date</p>
          <p>{{ item?.dueDate | date: "short" }}</p>
        </div>
      </div>

      <!--  ==================================================================== -->
      <!-- Add an Item to a List -->
      <!--  ==================================================================== -->
      <div id="button{{ i }}" class="mt-2">
        <button class="button" (click)="toggleItemComponent(i)">
          Add another item
        </button>
      </div>

      <div id="{{ i }}" class="is-hidden">
        <app-create-item
          (newItemEvent)="addItem(list._id, $event)"
          (toggleVisibilityEvent)="toggleItemComponent(i)"
        ></app-create-item>
      </div>
    </div>

    <!--  ==================================================================== -->
    <!-- Add a List -->
    <!--  ==================================================================== -->
    <div class="create-list-column items-column">
      <button id="createListBtn" class="button" (click)="toggleListComponent()">
        Create another list
      </button>
      <div class="box mt-0" id="newListFormBox" class="is-hidden">
        <app-create-list
          (newListEvent)="addList($event)"
          (toggleVisibilityEvent)="toggleListComponent()"
        >
        </app-create-list>
      </div>
    </div>
  </div>

  <!-- ======================================================================= -->
  <!-- Modal -->
  <!-- ======================================================================= -->
  <div id="editItemModal" class="modal">
    <div class="modal-content">
      <app-edit-item (closeModalEvent)="closeModal()"></app-edit-item>
    </div>
  </div>
</div>
