<div id="{{ index }}" class="dropdown">
  <div class="dropdown-trigger">
    <button
      class="button button-icon"
      aria-haspopup="true"
      aria-controls="dropdown-menu"
      (click)="toggleMenuVisibility()"
    >
      <!-- <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span> -->
      <fa-icon [icon]="faEllipsisH"></fa-icon>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <span class="dropdown-item"> Dropdown item </span>
      <span class="dropdown-item"> Other dropdown item </span>
      <span class="dropdown-item is-active"> Active dropdown item </span>
      <span class="dropdown-item"> Other dropdown item </span>
      <hr class="dropdown-divider" />
      <span class="dropdown-item"> With a divider </span>
    </div>
  </div>
</div>
