<div class="container">
  <h1>Create an account</h1>
  <hr />
  <form [formGroup]="form">
    <!-- ====================================================================== -->
    <!-- Username control -->
    <!-- ====================================================================== -->
    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input
          [class]="username.touched && username.valid ? 'is-success' : ''"
          formControlName="username"
          class="input"
          type="text"
          autofocus
          tabindex="1"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faUser"></fa-icon>
        </span>
        <ng-container *ngIf="username.touched && username.valid">
          <span class="icon is-small is-right">
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>
        </ng-container>
      </div>
      <!-- error message -->
      <ng-container
        *ngIf="username.invalid && (username.dirty || username.touched)"
      >
        <p class="help is-danger">{{ getUsernameError() }}</p>
      </ng-container>
      <!-- <p class="help is-success">This username is available</p> -->
    </div>

    <!-- ====================================================================== -->
    <!-- Email control -->
    <!-- ====================================================================== -->
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input
          [class]="email.touched && email.valid ? 'is-success' : ''"
          formControlName="email"
          class="input"
          type="email"
          tabindex="2"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </span>

        <ng-container *ngIf="email.touched && email.valid">
          <span class="icon is-small is-right">
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>
        </ng-container>
      </div>

      <!-- error message -->
      <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
        <p class="help is-danger">{{ getEmailError() }}</p>
      </ng-container>
    </div>

    <!-- ====================================================================== -->
    <!-- Password -->
    <!-- ====================================================================== -->
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input
          [class]="password.touched && password.valid ? 'is-success' : ''"
          formControlName="password"
          class="input"
          type="password"
          tabindex="3"
          appUniqueEmailValidator
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faKey"></fa-icon>
        </span>
        <ng-container *ngIf="password.touched && password.valid">
          <span class="icon is-small is-right">
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>
        </ng-container>
      </div>
      <!-- Give the user a hint -->
      <p class="help">Password must be between 6 and 64 characters in length</p>

      <!-- error message -->
      <ng-container
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <p class="help is-danger">{{ getPasswordError() }}</p>
      </ng-container>
    </div>

    <!-- ====================================================================== -->
    <!-- Confirm password -->
    <!-- ====================================================================== -->
    <div class="field">
      <label class="label">Confirm password</label>
      <div class="control has-icons-left has-icons-right">
        <input
          formControlName="confirmPassword"
          class="input"
          type="password"
          tabindex="4"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faKey"></fa-icon>
        </span>
        <ng-container *ngIf="confirmPassword.touched && confirmPassword.valid">
          <span class="icon is-small is-right">
            <fa-icon [icon]="faCheck"></fa-icon>
          </span>
        </ng-container>
      </div>
    </div>

    <!-- ====================================================================== -->
    <!-- Actions -->
    <!-- ====================================================================== -->
    <div class="field is-grouped">
      <div class="control">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="button is-primary"
          tabindex="5"
        >
          Submit
        </button>
      </div>
      <div class="control">
        <a class="button is-link is-light" routerLink="/" tabindex="6">
          Cancel
        </a>
      </div>
    </div>

    <hr />

    <div>
      <p>Form: {{ form.valid }}</p>
      <p>Email: {{ email.valid }}</p>
      <p>Password: {{ password.valid }}</p>
    </div>
  </form>
</div>
