<div class="container">
  <h1>Create an account</h1>
  <hr />
  <form [formGroup]="form">
    <!-- Username control -->
    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input
          formControlName="username"
          class="input is-success"
          type="text"
          autofocus
          tabindex="1"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faUser"></fa-icon>
        </span>
        <span class="icon is-small is-right">
          <fa-icon [icon]="faCheck"></fa-icon>
        </span>
      </div>
      <!-- error message -->
      <ng-container
        *ngIf="username.invalid && (username.dirty || username.touched)"
      >
        <p class="help is-danger">{{ getUsernameError() }}</p>
      </ng-container>
      <!-- <p class="help is-success">This username is available</p> -->
    </div>

    <!-- Email control -->
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input
          formControlName="email"
          class="input is-danger"
          type="email"
          tabindex="2"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </span>
        <span class="icon is-small is-right">
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
        </span>
      </div>
      <!-- error message -->
      <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
        <p class="help is-danger">{{ getEmailError() }}</p>
      </ng-container>
    </div>

    <!-- Password -->
    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left">
        <input
          formControlName="password"
          class="input"
          type="password"
          tabindex="3"
        />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faKey"></fa-icon>
        </span>
      </div>
      <!-- error message -->
      <ng-container
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <p class="help is-danger">Passwords do not match</p>
      </ng-container>
    </div>

    <!-- Confirm password -->
    <div class="field">
      <label class="label">Confirm password</label>
      <div class="control has-icons-left">
        <input class="input" type="password" tabindex="4" />
        <span class="icon is-small is-left">
          <fa-icon [icon]="faKey"></fa-icon>
        </span>
      </div>
    </div>

    <!-- Actions -->
    <div class="field is-grouped">
      <div class="control">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="button is-primary"
          tabindex="5"
        >
          Submit
        </button>
      </div>
      <div class="control">
        <a class="button is-link is-light" routerLink="/" tabindex="6">
          Cancel
        </a>
      </div>
    </div>
  </form>
</div>
