<div class="column">
  <div class="modal-header">
    <h2>Edit your item</h2>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>
  <br />

  <form [formGroup]="form">
    <!-- ===================================================================== -->
    <!-- Title -->
    <!-- ===================================================================== -->
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" required />
    </mat-form-field>

    <!-- ===================================================================== -->
    <!-- Description -->
    <!-- ===================================================================== -->
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="add a description"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <!-- ===================================================================== -->
    <!-- Due Date -->
    <!-- ===================================================================== -->
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Due Date</mat-label>
        <input
          matInput
          [min]="today"
          [matDatepicker]="picker"
          formControlName="dueDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="datetime" />
      </mat-form-field>
    </div>

    <!-- ===================================================================== -->
    <!-- Actions -->
    <!-- ===================================================================== -->
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>
</div>
