<div class="container is-fluid">
  <div class="modal-header">
    <h3>Edit your item</h3>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="form">
    <!-- ===================================================================== -->
    <!-- Title -->
    <!-- ===================================================================== -->
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <!-- ===================================================================== -->
    <!-- Description -->
    <!-- ===================================================================== -->
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="add a description"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <!-- ===================================================================== -->
    <!-- Due Date -->
    <!-- ===================================================================== -->
    <div class="field-body">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dp3" disabled />
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="time" />
      </mat-form-field>
    </div>

    <!-- ===================================================================== -->
    <!-- Actions -->
    <!-- ===================================================================== -->
    <div class="button-bar">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button mat-stroked-button (click)="close()">Close</button>
    </div>
  </form>
</div>
