<ng-container *ngIf="boards$ | async as boards">
  <div class="column">
    <!-- ===================================================================== -->
    <!-- Recently viewed boards -->
    <!-- ===================================================================== -->
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <mat-icon>access_time</mat-icon>
          <span class="ml-2">
            <strong>Recently viewed</strong>
          </span>
        </div>
      </div>
    </div>

    <!-- ===================================================================== -->
    <div class="tile is-ancestor">
      <ng-container *ngFor="let board of getRecentlyViewed(boards)">
        <div class="tile is-3 is-parent" (click)="view(board)">
          <mat-card class="tile is-child is-clickable">
            <p>{{ board.title }}</p>
          </mat-card>
        </div>
      </ng-container>

      <!-- A hack to deal with Bulma's .box:not(:last-child) { margin: 0 }  -->
      <div class="box is-shadowless is-invisible"></div>
    </div>

    <!-- ===================================================================== -->
    <!-- Personal Boards -->
    <!-- ===================================================================== -->
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <mat-icon>person</mat-icon>
          <span class="ml-2">
            <strong>Personal Boards</strong>
          </span>
        </div>
      </div>
    </div>

    <!-- ===================================================================== -->

    <div class="tile is-ancestor">
      <ng-container *ngFor="let board of boards">
        <div class="tile is-3 is-parent" (click)="view(board)">
          <mat-card class="tile is-child is-clickable">
            <p>{{ board.title }}</p>
          </mat-card>
        </div>
      </ng-container>

      <div class="tile is-3 is-parent">
        <a
          mat-stroked-button
          color="primary"
          routerLink="/boards/create"
          class="tile is-child"
          >Create board</a
        >
      </div>
      <!-- A hack to deal with Bulma's .box:not(:last-child) { margin: 0 }  -->
      <div class="box is-shadowless is-invisible"></div>
    </div>
  </div>
</ng-container>
