<ng-container *ngIf="boards$ | async as boards">
  <div class="flex-container full-height">
    <div class="flex-container full-width">
      <div class="boards-container">
        <!-- ===================================================================== -->
        <!-- Recently viewed boards -->
        <!-- ===================================================================== -->
        <section>
          <div class="header-row">
            <mat-icon>access_time</mat-icon>
            <span>Recently viewed</span>
          </div>

          <!-- ===================================================================== -->
          <div class="board-card-container">
            <ng-container *ngFor="let board of getRecentlyViewed(boards)">
              <mat-card class="board-card" (click)="view(board)">
                <p>{{ board.title }}</p>
              </mat-card>
            </ng-container>
          </div>
        </section>

        <section>
          <!-- ===================================================================== -->
          <!-- Personal Boards -->
          <!-- ===================================================================== -->
          <div class="header-row">
            <mat-icon>person</mat-icon>
            <span> Personal Boards </span>
          </div>

          <div class="board-card-container">
            <ng-container *ngFor="let board of boards">
              <mat-card class="board-card" (click)="view(board)">
                <p>{{ board.title }}</p>
              </mat-card>
            </ng-container>
          </div>

          <!-- ===================================================================== -->
          <!-- Actions -->
          <!-- ===================================================================== -->
          <br />
          <div>
            <a
              mat-stroked-button
              color="primary"
              routerLink="/boards/create"
              class="tile is-child"
            >
              Create board
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</ng-container>
