<div class="container">
  <h1 class="title">Create a new board</h1>
  <hr />
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- ====================================================================== -->
    <!-- Title control -->
    <!-- ====================================================================== -->
    <div class="field">
      <label class="label"> Title </label>
      <div class="control">
        <input
          [class]="title.touched && title.valid ? 'is-success' : ''"
          formControlName="title"
          class="input"
          placeholder="e.g., Backlog"
          type="text"
          autofocus
        />
      </div>
      <!-- error message -->
      <ng-container *ngIf="title.invalid && (title.dirty || title.touched)">
        <p class="help is-danger">{{ getTitleError() }}</p>
      </ng-container>
    </div>

    <!-- ====================================================================== -->
    <!-- Actions -->
    <!-- ====================================================================== -->
    <div class="field is-grouped">
      <div class="control">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="button is-primary"
        >
          Create
        </button>
      </div>
      <div class="control">
        <button class="button" (click)="close()">Close</button>
      </div>
    </div>
  </form>
</div>
