<div class="templates-container">
  <div class="col-2 col-s-2 sidenav" mat-elevation-z6>
    <aside>
      <ng-container *ngIf="templates$ | async as templates">
        <mat-nav-list class="no-padding">
          <div mat-subheader>Templates</div>
          <a
            *ngFor="let template of templates"
            [routerLink]="[template._id]"
            routerLinkActive="active-link"
            mat-list-item
          >
            {{ template.name | titlecase }}
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <div mat-subheader>Actions</div>
          <a mat-list-item routerLink="./create">Create template</a>
        </mat-nav-list>
      </ng-container>
    </aside>
  </div>

  <div class="col-10 col-s-10 template-router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
