<div class="flex-container full-height">
  <div class="flex-centered full-width">
    <mat-card>
      <h2>Create an account</h2>
      <form [formGroup]="form">
        <!-- ============================================================== -->
        <!-- Username control -->
        <!-- ============================================================== -->
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            [class]="username.touched && username.valid ? 'is-success' : ''"
            formControlName="username"
            type="text"
            autofocus
            required
          />
          <button mat-icon-button matPrefix tabindex="-1">
            <mat-icon>person</mat-icon>
          </button>
          <!-- error message -->
          <mat-error>{{ getUsernameError() }}</mat-error>
        </mat-form-field>

        <!-- =============================================================== -->
        <!-- Email control -->
        <!-- =============================================================== -->
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            [class]="email.touched && email.valid ? 'is-success' : ''"
            formControlName="email"
            type="email"
            required
          />
          <button mat-icon-button matPrefix tabindex="-1">
            <mat-icon>email</mat-icon>
          </button>

          <!-- error message -->
          <mat-error>{{ getEmailError() }}</mat-error>
        </mat-form-field>

        <!-- =============================================================== -->
        <!-- Password -->
        <!-- =============================================================== -->
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [class]="isPasswordValid() ? 'is-success' : ''"
            [type]="isTextHidden ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <button mat-icon-button matPrefix tabindex="-1">
            <mat-icon>lock</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="isTextHidden = !isTextHidden"
          >
            <mat-icon>
              {{ isTextHidden ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>
          <!-- Give the user a hint -->
          <mat-hint>
            Password must be between 6 and 64 characters in length
          </mat-hint>

          <!-- error message -->
          <mat-error>{{ getPasswordError() }}</mat-error>
        </mat-form-field>

        <!-- =============================================================== -->
        <!-- Confirm password -->
        <!-- =============================================================== -->
        <mat-form-field class="full-width">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            [class]="isPasswordValid() ? 'is-success' : ''"
            [type]="isTextHidden ? 'password' : 'text'"
            formControlName="confirmPassword"
            required
          />
          <button mat-icon-button matPrefix tabindex="-1">
            <mat-icon>lock</mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="isTextHidden = !isTextHidden"
          >
            <mat-icon>
              {{ isTextHidden ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>
        </mat-form-field>

        <!-- =============================================================== -->
        <!-- Actions -->
        <!-- =============================================================== -->
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </form>
    </mat-card>
  </div>
</div>
