/* =========================================================================== */
/* Animations */
/* =========================================================================== */

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

/* =========================================================================== */
/* Layout */
/* =========================================================================== */
.mat-divider {
  margin-bottom: 1rem !important;
}

.board-root {
  position: absolute;
  top: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.boards-container {
  position: inherit;
  padding: 0.5rem;
}

.board-info-header {
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem;
}

.board-header-item {
  display: flex;
  flex-direction: column;
}

.board-info-header > .board-header-item {
  flex-grow: 0;
}

.board-info-header > .board-header-item:not(:last-child) {
  padding-right: 1rem;
  border-right: 1px solid #d9d9d9;
}

.board-info-header > .board-header-item:last-child {
  padding-left: 1rem;
  /* border-right: 1px solid #d9d9d9; */
}

/* =========================================================================== */
/* Lists */
/* =========================================================================== */
.lists-container {
  display: flex;
  flex-wrap: row nowrap;
  width: max-content;
  overflow: auto;
}

.list-column {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  min-height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 0.5rem;
}

.lists-container > .list-column:not(:last-child) {
  margin-right: 1rem !important;
}

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  margin: 0 0 0 0.25rem;
}

/* =========================================================================== */
/* Items */
/* =========================================================================== */

.item {
  padding: 0.25rem;
  margin: 1rem auto;
}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.item-title {
  margin: 0;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-header:hover .item-actions-menu {
  visibility: visible;
}

.item-actions-menu {
  visibility: hidden;
}

.badges {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer !important;
}

.badge {
  margin-right: 0.25rem;
}
