/* =========================================================================== */
/* Layout */
/* =========================================================================== */
.board-root {
  position: absolute;
  top: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.boards-container {
  position: inherit;
  padding: 0.5rem;
}

.board-info-header {
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem;
}

.board-header-item {
  display: flex;
  flex-direction: column;
}

.board-info-header > .board-header-item {
  flex-grow: 0;
}

.board-info-header > .board-header-item:not(:last-child) {
  margin-right: 1rem;
}

/* =========================================================================== */
/* Lists */
/* =========================================================================== */
.list-container {
  display: flex;
  flex-wrap: row nowrap;
  width: max-content;
  overflow: auto;
}

.list {
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  min-height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 0.5rem;
}

.list-container > .list:not(:last-child) {
  margin-right: 1rem;
}

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  margin: 0 0 0 0.25rem;
}

.list-edit-icon {
  visibility: hidden;
}

.list-header:hover .list-edit-icon {
  visibility: visible;
}

/* =========================================================================== */
/* Items */
/* =========================================================================== */

.item {
  cursor: pointer !important;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

.item-title {
  margin: 0;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.badges {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.badge {
  margin-right: 0.25rem;
}
