<ng-container *ngIf="board$ | async as board">
  <div class="board-root">
    <div class="boards-container">
      <!-- ===================================================================== -->
      <!-- Board information -->
      <!-- ===================================================================== -->
      <div class="board-info-header">
        <div class="board-header-item">
          <h2>Board Name</h2>
          <p>{{ board.title }}</p>
        </div>
        <div class="board-header-item">
          <h2>No. of Lists</h2>
          <p>{{ lists?.length }}</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="row full-height full-width">
        <div *ngIf="lists" class="lists-container" cdkDropListGroup>
          <div
            *ngFor="let list of lists; index as listIndex"
            class="list-column"
          >
            <div
              class="list"
              cdkDropList
              [cdkDropListData]="list.items"
              (cdkDropListDropped)="drop($event, list._id)"
            >
              <!-- ==================================================================== -->
              <!-- List title -->
              <!-- ==================================================================== -->
              <div class="list-header">
                <h3 class="list-title">{{ list.title }}</h3>
                <button
                  mat-icon-button
                  class="list-edit-icon"
                  (click)="openEditListModal(list)"
                  matTooltip="Edit list"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>

              <mat-divider></mat-divider>

              <!-- ==================================================================== -->
              <!-- Items -->
              <!-- ==================================================================== -->
              <mat-card
                *ngFor="let item of list.items; index as itemIndex"
                class="item"
                cdkDrag
              >
                <!-- Card header -->
                <div class="item-header">
                  <p class="item-title">{{ item.title }}</p>
                  <!-- ================================================================ -->
                  <!-- Item Action Menu -->
                  <!-- ================================================================ -->
                  <app-item-actions-menu
                    [item]="item"
                    (editItemEvent)="handleEditItem($event)"
                    (deletedItemEvent)="handleDeletedItemEvent($event)"
                  ></app-item-actions-menu>
                </div>

                <!--  Badges -->
                <ng-container *ngIf="item.description || item.dueDate">
                  <div class="badges" (click)="viewItemDetails(list, item)">
                    <ng-container *ngIf="item.description">
                      <div class="badge">
                        <button mat-icon-button matTooltip="Description">
                          <mat-icon>article</mat-icon>
                        </button>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="item.dueDate">
                      <div class="badge">
                        <button mat-icon-button matTooltip="Due date">
                          <mat-icon>event</mat-icon>
                          <span>{{ item.dueDate | date: "MMM d" }}</span>
                        </button>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </mat-card>
            </div>

            <!--  ==================================================================== -->
            <!-- Add an Item to a List -->
            <!--  ==================================================================== -->
            <div id="button{{ listIndex }}">
              <button
                mat-stroked-button
                (click)="toggleCreateItemComponent(listIndex)"
              >
                Add item
              </button>
            </div>

            <div id="{{ listIndex }}" class="hidden">
              <!-- =========================================================== -->
              <!-- Component -->
              <!-- =========================================================== -->
              <app-create-item
                [list]="list"
                (newItemEvent)="handleNewItemEvent($event)"
                (toggleVisibilityEvent)="toggleCreateItemComponent(listIndex)"
              ></app-create-item>
            </div>
          </div>

          <!--  ==================================================================== -->
          <!-- Add a List -->
          <!--  ==================================================================== -->
          <div class="column">
            <button
              id="createListBtn"
              mat-raised-button
              color="primary"
              (click)="toggleCreateListComponent()"
            >
              Create list
            </button>
            <div id="newListFormBox" class="hidden">
              <!-- =========================================================== -->
              <!-- Component -->
              <!-- =========================================================== -->
              <app-create-list
                [board]="board"
                (newListEvent)="handleNewListEvent($event)"
                (toggleVisibilityEvent)="toggleCreateListComponent()"
              >
              </app-create-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- ======================================================================= -->
<!-- Modals -->
<!-- ======================================================================= -->

<!-- ======================================================================= -->
<!-- View Item Modal -->
<!-- ======================================================================= -->
<div id="viewItemModal" class="modal">
  <div class="modal-content">
    <app-item-details
      (closeModalEvent)="closeItemDetailsModal()"
    ></app-item-details>
  </div>
</div>

<!-- ======================================================================= -->
<!-- Edit Item Modal -->
<!-- ======================================================================= -->
<div id="editItemModal" class="modal">
  <div class="modal-content">
    <app-edit-item
      (itemUpdatedEvent)="handleItemUpdatedEvent($event)"
      (closeModalEvent)="closeEditItemModal()"
    >
    </app-edit-item>
  </div>
</div>

<!-- ======================================================================= -->
<!-- Edit List Modal -->
<!-- ======================================================================= -->
<div id="editListModal" class="modal">
  <div class="modal-content">
    <app-edit-list
      (listUpdatedEvent)="handleListUpdatedEvent($event)"
      (closeModalEvent)="closeEditListModal()"
    >
    </app-edit-list>
  </div>
</div>

<!-- ===================================================================== -->
<!-- Edit Board Modal -->
<!-- ===================================================================== -->
<div id="editBoardModal" class="modal">
  <div class="modal-content">
    <app-edit-board (closeModalEvent)="closeEditBoardModal()"></app-edit-board>
  </div>
</div>
