<div>
  <div class="modal-header">
    <h3>Edit your list</h3>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <br />

  <form [formGroup]="form">
    <!-- ===================================================================== -->
    <!-- Title -->
    <!-- ===================================================================== -->
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <!-- ===================================================================== -->
    <!-- Actions -->
    <!-- ===================================================================== -->
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </form>
</div>
