<button
  mat-icon-button
  aria-haspopup="true"
  aria-controls="dropdown-menu"
  [matMenuTriggerFor]="itemMenu"
>
  <mat-icon>more_horiz</mat-icon>
</button>

<mat-menu #itemMenu="matMenu" role="menu" xPosition="before">
  <!-- <ng-template #matMenuContent> -->
  <button mat-menu-item (click)="delete()">Delete item</button>
  <button mat-menu-item (click)="edit()">Edit item</button>
  <button mat-menu-item>View details</button>
  <mat-divider></mat-divider>
  <button mat-menu-item>Move to ...</button>
  <!-- </ng-template> -->
</mat-menu>
