<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button
      class="button button-icon"
      aria-haspopup="true"
      aria-controls="dropdown-menu"
    >
      <fa-icon [icon]="faEllipsisH"></fa-icon>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a class="dropdown-item" (click)="delete()"> Delete item </a>
      <a class="dropdown-item" (click)="edit()"> Edit item </a>
      <a class="dropdown-item"> View details </a>
      <hr class="dropdown-divider" />
      <a class="dropdown-item"> Move to ... </a>
    </div>
  </div>
</div>
