<div class="form-container">
  <form [formGroup]="itemForm">
    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        autocomplete="off"
        placeholder="Enter the item's title"
        formControlName="title"
      />
    </mat-form-field>

    <div class="button-bar">
      <!-- Submit button -->
      <button
        mat-raised-button
        color="primary"
        [disabled]="itemForm.invalid"
        type="submit"
        (click)="onSubmit()"
      >
        Create Item
      </button>
      <!-- Close button -->
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
</div>
