<div>
  <div class="modal-header">
    <h3>Create a new board</h3>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>
  <br />

  <form [formGroup]="form">
    <!-- ====================================================================== -->
    <!-- Title -->
    <!-- ====================================================================== -->
    <mat-form-field class="full-width">
      <mat-label> Title </mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="e.g., Backlog"
        type="text"
        autofocus
      />
      <mat-error>{{ getTitleError() }}</mat-error>
    </mat-form-field>

    <!-- ====================================================================== -->
    <!-- Templates -->
    <!-- ====================================================================== -->
    <ng-container *ngIf="templates$ | async as templates">
      <mat-form-field class="full-width">
        <mat-label>Create from a template</mat-label>
        <mat-select>
          <mat-option *ngFor="let template of templates" [value]="template._id">
            {{ template.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <!-- ====================================================================== -->
    <!-- Actions -->
    <!-- ====================================================================== -->
    <div class="button-bar">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
        (click)="onSubmit()"
      >
        Create
      </button>
    </div>
  </form>
</div>
