<div class="form-container">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <div class="control mb-1">
        <input
          class="input"
          type="text"
          autocomplete="off"
          placeholder="Enter the item's title"
          formControlName="title"
        />
      </div>
      <p
        *ngIf="title.invalid && (title.touched || title.dirty)"
        class="help is-danger"
      >
        {{ getError() }}
      </p>
      <div class="buttons">
        <button type="submit" class="button is-primary">Create Item</button>
        <button class="button button-icon" title="close">
          <span class="icon is-centered" (click)="close()">
            <fa-icon [icon]="faTimes"></fa-icon>
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
