<mat-toolbar
  id="topNav"
  color="primary"
  mat-elevation-z6
  role="navigation"
  aria-label="main navigation"
>
  <span class="app-name">MADERAS</span>

  <a mat-button routerLink="/dashboard/boards"> Boards </a>
  <a mat-button routerLink="/templates"> Templates </a>

  <!-- ======================================================================= -->
  <!-- Register/Login buttons -->
  <!-- ======================================================================= -->
  <ng-container *ngIf="!auth.isLoggedIn(); else loggedIn" class="navbar-end">
    <span class="spacer"></span>
    <div class="button-bar">
      <a mat-raised-button color="accent" routerLink="/register">
        <strong>Sign up</strong>
      </a>
      <a mat-stroked-button routerLink="login"> Log in </a>
    </div>
  </ng-container>

  <!-- ======================================================================= -->
  <!-- User info -->
  <!-- ======================================================================= -->
  <ng-template #loggedIn>
    <span class="spacer"></span>
    <a mat-button (click)="logout()">Log out</a>
  </ng-template>
</mat-toolbar>
