<nav
  class="navbar has-shadow is-fixed-top is-dark"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <strong>MADERAS</strong>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      id="navbarBurger"
      data-target="navbarMenu"
      (click)="toggleMenu()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/"> Home </a>
      <a class="navbar-item" routerLink="/boards"> Boards </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"> About </a>
          <a class="navbar-item"> Contact </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Report an issue </a>
        </div>
      </div>
    </div>

    <!-- Register/Login buttons -->
    <div *ngIf="!auth.isLoggedIn(); else loggedIn" class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" routerLink="login"> Log in </a>
        </div>
      </div>
    </div>

    <!-- User info -->
    <ng-template #loggedIn>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button class="button" (click)="logout()">
              Log out
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
