<mat-toolbar
  id="topNav"
  color="primary"
  mat-elevation-z6
  role="navigation"
  aria-label="main navigation"
>
  <span class="app-name">MADERAS</span>

  <a mat-button routerLink="/dashboard/boards"> Boards </a>
  <a mat-button routerLink="/templates"> Templates </a>

  <!-- ======================================================================= -->
  <!-- Register/Login buttons -->
  <!-- ======================================================================= -->
  <ng-container *ngIf="!auth.isLoggedIn(); else loggedIn" class="navbar-end">
    <span class="spacer"></span>
    <div class="button-bar">
      <a mat-raised-button color="accent" routerLink="/register">
        <strong>Sign up</strong>
      </a>
      <a mat-stroked-button routerLink="login"> Log in </a>
    </div>
  </ng-container>

  <!-- ======================================================================= -->
  <!-- User info -->
  <!-- ======================================================================= -->
  <ng-template #loggedIn>
    <span class="spacer"></span>
    <div class="row flex-centered-x flex-centered-y">
      <span class="username">{{ auth.getUser().username }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Log out</button>
        <mat-divider></mat-divider>
      </mat-menu>
    </div>
  </ng-template>
</mat-toolbar>
