#topNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 56px;
}

.app-name {
  margin-right: 0.5rem;
}

.mat-toolbar > .mat-button {
  margin-left: 0.25rem !important;
}
