<ng-container *ngIf="template$ | async as template">
  <div class="row">
    <div class="column">
      <h2>{{ template.name }}</h2>
      <h3>Created by ME!</h3>
    </div>
    <!--  -->
    <span class="spacer"></span>

    <!--  Dropdown trigger -->
    <button
      mat-raised-button
      color="primary"
      aria-haspopup="true"
      aria-controls="dropdownMenu"
      (click)="toggleModal()"
    >
      Use template
    </button>

    <!--  Dropdown -->
    <mat-menu xPosition="before"> </mat-menu>

    <div id="dropdown" class="dropdown is-right">
      <!-- Trigger -->
      <div class="dropdown-trigger"></div>
      <!-- Menu -->
      <div class="dropdown-menu" id="dropdownMenu" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <!-- Title -->
            <div class="field">
              <!-- Dropdown header -->
              <div class="row">
                <p>Create board from template</p>
                <span class="spacer"></span>
                <button mat-icon-button (click)="toggleModal()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>

              <hr class="dropdown-divider" />

              <label class="label">Title</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="The board's title"
                  [formControl]="title"
                />
              </div>

              <button
                class="button is-primary mt-2"
                [disabled]="title.invalid"
                (click)="createFromTemplate(template._id)"
              >
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <h5 class="title is-5">About this template</h5>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex placeat eos
    labore iure facilis dolorem voluptatum? Modi provident optio tempora.
    Consequuntur ex, error tempore totam magnam molestiae? Voluptatibus,
    temporibus sequi?
  </p>
</ng-container>
