<div class="form-container">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />

      <div class="button-bar">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          (click)="onSubmit()"
        >
          Save
        </button>
        <button mat-icon-button title="close">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </form>
</div>
