<div class="columns">
  <div class="column is-one-fifth">
    <aside class="menu">
      <p class="menu-label">General</p>
      <!-- =================================================================== -->
      <!-- Boards -->
      <!-- =================================================================== -->
      <ul class="menu-list">
        <li>
          <a routerLink="/dashboard/boards" routerLinkActive="is-active">Boards</a>
        </li>

        <!-- =================================================================== -->
        <!-- Templates -->
        <!-- =================================================================== -->
        <li>
          <a routerLink="/templates" routerLinkActive="is-active">
            Templates
          </a>
          <ng-container *ngIf="templates$ | async as templates">
            <ul>
              <li *ngFor="let template of templates">
                <a [routerLink]="[template._id]">{{ template.name }}</a>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </aside>
  </div>

  <div class="column">
    <router-outlet></router-outlet>
  </div>
</div>
