<ng-container *ngIf="board$ | async as board">
  <div class="board-root">
    <!-- =============================================================== -->
    <!-- Header: Board information -->
    <!-- =============================================================== -->
    <div class="board-info-header">
      <div class="board-header-column">
        <p class="board-header-title">Board Name</p>
        <p>{{ board.title }}</p>
      </div>
      <div class="vl"></div>
      <div class="board-header-column">
        <p class="board-header-title">No. of Lists</p>
        <p>{{ lists?.length }}</p>
      </div>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="boardsMenu">
        <mat-icon>more_vertical</mat-icon>
      </button>
      <mat-menu #boardsMenu="matMenu" xPosition="before" role="menu">
        <button mat-menu-item (click)="openEditBoardModal(board)">
          Edit board ...
        </button>
        <button
          mat-menu-item
          (click)="openDeleteBoardConfirmationDialog(board._id)"
        >
          Delete board ...
        </button>
      </mat-menu>
    </div>

    <div class="scrollable-container">
      <div class="lists-container">
        <div *ngIf="lists" class="list-container" cdkDropListGroup>
          <div
            *ngFor="let list of lists; index as listIndex"
            class="list-column"
          >
            <div
              class="list"
              cdkDropList
              [cdkDropListData]="list.items"
              (cdkDropListDropped)="drop($event, list._id)"
            >
              <!-- ======================================================== -->
              <!-- List title -->
              <!-- ======================================================== -->
              <div class="list-header">
                <h3 class="list-title">{{ list.title }}</h3>
                <span class="spacer"></span>
                <!-- ====================================================== -->
                <!-- List menu -->
                <!-- ====================================================== -->
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vertical</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" role="menu">
                  <button
                    mat-menu-item
                    (click)="openDeleteListConfirmationDialog(list._id)"
                  >
                    Delete ...
                  </button>
                  <button mat-menu-item (click)="openEditListModal(list)">
                    Edit ...
                  </button>
                  <ng-container *ngIf="list.items.length">
                    <button
                      mat-menu-item
                      (click)="openClearListConfirmationDialog(list._id)"
                    >
                      Remove items
                    </button>
                  </ng-container>
                </mat-menu>
              </div>

              <mat-divider></mat-divider>

              <!-- ========================================================= -->
              <!-- Items -->
              <!-- ========================================================= -->
              <mat-card
                *ngFor="let item of list.items; index as itemIndex"
                class="item"
                cdkDrag
              >
                <!-- Item header -->
                <div class="item-header">
                  <p class="item-title">{{ item.title }}</p>
                  <span class="spacer"></span>
                  <!-- ===================================================== -->
                  <!-- Item Actions Menu -->
                  <!-- ===================================================== -->
                  <button
                    mat-icon-button
                    aria-haspopup="true"
                    [matMenuTriggerFor]="itemMenu"
                    class="item-actions-menu"
                  >
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #itemMenu="matMenu" role="menu" xPosition="before">
                    <button
                      mat-menu-item
                      (click)="
                        openDeleteItemConfirmationDialog(list._id, item._id)
                      "
                    >
                      Delete ...
                    </button>
                    <button
                      mat-menu-item
                      (click)="openItemDetailsModal(list, item)"
                    >
                      View ...
                    </button>
                  </mat-menu>
                </div>

                <!--  Item badges -->
                <ng-container *ngIf="item.description || item.dueDate">
                  <div class="badges">
                    <ng-container *ngIf="item.description">
                      <div class="badge">
                        <mat-icon matTooltip="This item has a description.">
                          article
                        </mat-icon>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="item.dueDate">
                      <div class="badge">
                        <mat-icon matTooltip="This item has a due date.">
                          event
                        </mat-icon>
                        <span>{{ item.dueDate | date: "MMM d" }}</span>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </mat-card>
            </div>

            <!-- =========================================================== -->
            <!-- Add an Item to a List -->
            <!-- =========================================================== -->
            <div id="button{{ listIndex }}">
              <button
                mat-stroked-button
                (click)="toggleCreateItemComponent(listIndex)"
              >
                Add item
              </button>
            </div>

            <div id="{{ listIndex }}" class="hidden">
              <!-- ========================================================= -->
              <!-- Component -->
              <!-- ========================================================= -->
              <app-create-item
                [list]="list"
                (newItemEvent)="handleNewItemEvent($event)"
                (toggleVisibilityEvent)="toggleCreateItemComponent(listIndex)"
              ></app-create-item>
            </div>
          </div>

          <!-- ============================================================= -->
          <!-- Add a List -->
          <!-- ============================================================= -->
          <div class="column">
            <button
              id="createListBtn"
              mat-raised-button
              color="primary"
              (click)="toggleCreateListComponent()"
            >
              Create list
            </button>
            <div id="newListFormBox" class="hidden">
              <!-- ========================================================= -->
              <!-- Component -->
              <!-- ========================================================= -->
              <app-create-list
                [board]="board"
                (newListEvent)="handleNewListEvent($event)"
                (toggleVisibilityEvent)="toggleCreateListComponent()"
              >
              </app-create-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- ======================================================================= -->
<!-- Modals -->
<!-- ======================================================================= -->

<!-- ======================================================================= -->
<!-- View Item Modal -->
<!-- ======================================================================= -->
<div id="viewItemModal" class="modal">
  <div class="modal-content">
    <app-item-details
      (closeModalEvent)="closeItemDetailsModal()"
      (itemUpdatedEvent)="handleItemUpdatedEvent($event)"
    ></app-item-details>
  </div>
</div>

<!-- ======================================================================= -->
<!-- Edit List Modal -->
<!-- ======================================================================= -->
<div id="editListModal" class="modal">
  <div class="modal-content">
    <app-edit-list
      (listUpdatedEvent)="handleListUpdatedEvent($event)"
      (closeModalEvent)="closeEditListModal()"
    >
    </app-edit-list>
  </div>
</div>

<!-- ===================================================================== -->
<!-- Edit Board Modal -->
<!-- ===================================================================== -->
<div id="editBoardModal" class="modal">
  <div class="modal-content">
    <app-edit-board (closeModalEvent)="closeEditBoardModal()"></app-edit-board>
  </div>
</div>
