.vl {
  /* Override the default color */
  border-color: #673ab7 !important;
}

/* ========================================================================== */
/* Animations */
/* ========================================================================== */

/* Animate items as they're being sorted. */
/* .cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */

/* Animate an item that has been dropped. */
/* .cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
} */

/* ========================================================================== */
/* Layout */
/* ========================================================================== */
.mat-divider {
  margin-bottom: 1rem !important;
}

.board-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.scrollable-container {
  position: inherit;
  padding: 1.5rem 0.5rem;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
}

.board-info-header {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0.5rem;
  background: rgba(103, 58, 183, 0.15);
  color: #673ab7;
}

.board-header-column {
  display: flex;
  flex-direction: column;
}

.board-header-title {
  font-weight: 500;
  margin: 0;
}

.board-info-header > .board-header-column {
  flex-grow: 0;
}

/* ========================================================================== */
/* Lists */
/* ========================================================================== */
.lists-container {
  display: flex;
  height: 100%;
  width: inherit;
}

.list-container {
  display: flex;
  flex-wrap: row nowrap;
  width: max-content;
}

.list-column {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  min-height: 20px;
  height: fit-content;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 0.5rem;
}

.list-container > .list-column {
  margin-right: 1rem !important;
}

.list-container > .column {
  margin-right: 1rem !important;
}

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  margin: 0 0 0 0.25rem;
}

/* ========================================================================== */
/* Items */
/* ========================================================================== */

.item {
  padding: 0.25rem;
  margin: 1rem auto;
  cursor: move;
}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.item-title {
  margin: 0;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-header:hover .item-actions-menu {
  visibility: visible;
}

.item-actions-menu {
  visibility: hidden;
}

.badges {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.badge {
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
}

.badge > .mat-icon {
  cursor: default;
}
